/* experience section started */
.experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    padding: 100px;
    background: linear-gradient(270.16deg, #FFB14710, #FF6C6310, #B86ADF10)
}

.experience_container1 {
    margin-top: 80px;
}

.xp_card_des {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.xp1_text {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
}

.xp1_xp {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.xp1_xp_des {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding-right: 30px;

}

.xp_card {
    margin: 20px 0px;
}

.xp_card_des_text1 {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

.xp_card_des_text2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}

.xp_card_des_text3 {
    font-weight: 700;
    font-size: 32px;
}

/* experience section ended */


/* awards_section started */
.awards_section {
    margin: 30px 100px;
    text-align: center;
}

.award_cointainer1 h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
}

.award_cointainer1 p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF50;
}

.award_card {
    display: flex;
    text-align: left;
    background-color: black;
    padding: 50px;
    margin: 20px 0px;
}

#ac_h1 {
    width: fit-content;
    font-size: 24px;
    font-weight: 400px;
    line-height: 28px;

}

#ac_h2 {
    width: 300px;
    font-size: 18px;
    font-weight: 700px;
    line-height: 28px;
}

.award_card_des p {
    margin-top: 20px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 28px;
    color: #FFFFFF50;
}

/* awards_section ended */

/* portfolio section started */

.my_portfolio_container1 {
    text-align: center;
    padding: 10px 0px;
    margin: 20px 0px;
}

.my_portfolio_container1 h1 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 800;
    padding: 10px 0px;
}

.my_portfolio_container1 p {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    padding: 10px 0px;
    color: #FFFFFF50;
}

.portfolio_buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.portfolio_buttons h1 {
    font-size: 24px;
    padding: 10px 20px;
    line-height: 36px;
    background-color: black;
}

.portfolio_buttons .pb_yellow {
    background-color: var(--secondary-font-color);
}


.my_portfolio_container2 {
    display: flex;
    margin: 30px 100px;
}

.my_portfolio_container2 img {
    width: 100%;
    height: 400px;
}


.portfolio_des_container {
    margin-top: 50px;
    padding: 20px;

}


.pd_title1 {
    margin: 30px 0px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;


}

.pd_title2 {
    margin: 40px 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.portfolio_des_container p {

    font-size: 21px;
    font-weight: 400;
    line-height: 21.33px;
    color: #FFFFFF50;
    margin: 10px 0px;


}

/* portfolio section ended */



/* contact section started */
.contact_container1 {
    margin-top: 100px;
    text-align: center;
}

.cc_text1 {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0px;

}

.cc_text2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;


}

.contact_container2 {
    background-color: #FD6F001A;
    margin: 30px 100px;
    padding: 60px 120px;
    margin-bottom: 100px;
}



.name_email {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin: 50px 0px;
    justify-content: space-between;
}

.name {
    margin-right: 20px;
}

.email {
    margin-left: 20px;
}

.attach_file_container {
    display: flex;
    gap: 10px;
}

.attach_file_container h1 {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;


}

.link_icon {
    margin-top: 25px;
    width: 15px;
    height: 15px;
}


.submnit_button {
    padding: 20px 40px;
    margin: 20px 0px;
    background-color: var(--secondary-font-color);
    border: none;

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;


}

/* contact section ended */



/* ************************************************************************* */
/* Responsive for iPhone SE (max-width:375px)*/

@media only screen and (max-width: 376px) {

    /* experience section started */
    .experience {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 10px;
        background: linear-gradient(270.16deg, #FFB14710, #FF6C6310, #B86ADF10)
    }

    .experience_container1 {
        margin-top: 30px;
    }

    .xp_card_des {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .xp1_text {
        font-size: 9px;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .xp1_xp {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .xp1_xp_des {
        font-size: 9px;
        font-weight: 400;
        text-align: center;
        margin-top: 100px;

    }

    .xp_card {
        margin: 30px 0px;
    }

    .xp_card_des_text1 {
        font-size: 10px;
        font-weight: 700;
        font-style: italic;
    }

    .xp_card_des_text2 {
        font-size: 8px;
        font-weight: 400;
        text-transform: uppercase;

    }

    .xp_card_des_text3 {
        font-weight: 700;
        font-size: 15px;
    }

    /* experience section ended */




    /* awards_section started */
    .awards_section {
        margin: 10px;
        padding: 0px;
        text-align: center;
    }

    .award_cointainer1 h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 47px;

    }

    .award_cointainer1 p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: #FFFFFF50;
        text-align: center;
    }

    .award_card {
        background-color: black;
        padding: 20px;
        margin: 20px 0px;
    }

    #ac_h1 {
        width: fit-content;
        font-size: 12px;
        font-weight: 400px;
        line-height: 15px;

    }

    #ac_h2 {
        width: 300px;
        font-size: 15px;
        font-weight: 700px;
        line-height: 25px;
    }

    .award_card_des p {
        margin-top: 20px;
        padding-right: 20px;
        font-size: 14px;
        font-weight: 400px;
        line-height: 17px;
        /* text-align: justify; */
        color: #FFFFFF50;
    }

    /* awards_section ended */



    /* portfolio section started */

    .portfolio_buttons h1 {
        font-size: 9px;
        padding: 5px 10px;
        line-height: 18px;
        background-color: black;
    }


    .portfolio_buttons {
        display: flex;
        gap: 2px;
        justify-content: center;
        padding-bottom: 25px;
        padding-top: 5px;
    }

    .portfolio_buttons h1 {
        padding: 5px 10px;
        background-color: black;
    }

    .portfolio_buttons .pb_yellow {
        background-color: var(--secondary-font-color);
    }



    .my_portfolio_container2 {
        display: flex;
        flex-direction: column;
        margin: 0px;

    }

    .my_portfolio_container2 img {
        width: 100%;
        height: 100%;

    }


    .portfolio_des_container {
        margin-top: 10px;
        padding: 10px;

    }

    .portfolio_des_container p {

        font-size: 18px;
        font-weight: 400;
        line-height: 21.33px;
        color: #FFFFFF50;
        margin: 10px 0px;


    }

    .pd_title1 {
        margin: 10px 0px;
        font-size: 18px;
        font-style: italic;
        font-weight: 600;
        line-height: 24px;


    }

    .pd_title2 {
        margin: 10px 0px;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }


    /* portfolio section ended */



    /* contact section started */

    #cc_text_small{
        font-size: 25px;
    }
    .contact_container1 {
        margin: 0px 0px;
        margin-top: 40px;
    }


    .contact_container2 {
        margin: 0px 0px;
        background-color: #FD6F001A;
        padding: 30px;
        margin-bottom: 30px;
    }
    
    .contact_container2 h1 {
        font-size: 18px;
    }


    .name_email {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 50px 0px;
        justify-content: space-between;
    }

    .name {
        margin-right: 0cap;
        margin: 20px 0px ;
    }

    .email {
        margin-left: 0px;
        margin: 20px 0px ;
    }

    .attach_file_container {
        display: flex;
        gap: 10px;
    }

    .attach_file_container h1 {
        margin-top: 20px;
        text-transform: uppercase;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;


    }

    .link_icon {
        margin-top: 25px;
        width: 15px;
        height: 15px;
    }


    .submnit_button {
        padding: 20px 40px;
        margin: 20px 0px;
        background-color: var(--secondary-font-color);
        border: none;

        font-size: 18px;
        font-weight: 500;
        line-height: 24px;


    }

    /* contact section ended */



}

/* Responsive for iPhone SE (max-width:375px) Ended*/